APP_NAME=PadelBB
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://padelbb.com
APP_TIMEZONE=America/Argentina/Buenos_Aires

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=u895805914_padelbb
DB_USERNAME=u895805914_padelbb
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_NAME=PadelBB

MERCADOPAGO_BASE_URI=https://api.mercadopago.com
MERCADOPAGO_KEY=
MERCADOPAGO_SECRET=
